<html>
  <head>
    <title>Epifoodus: create account</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1> Create new user name and password!</h1>
      <div class="form-group">
        <label for="name">Name</label>
        <input placeholder="enter name" type="text" name="name" class="form-control required"
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input placeholder= "new password" type="text" name="name" class="form-control required"
      </div>
      <br>
      <button type="submit" class="btn btn-success">CREATE!!</button>
    </div>

  </body>
</html>
