<html>
  <head>
    <title>Epifoodus: create account</title>
  </head>
  <body>
    <h1> Create new user name and password!</h2>
    <div class="form-group">
      <label for="name">Name</label>
      <input placeholder="enter name" type="text" name="name" class="form-control required"
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input placeholder= "new password" type="text" name="name" class="form-control required"
    </div>

    <button type="submit" class="btn btn-success">CREATE!!</button>

  </body>
</html>
