<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: Cuisines</title>
  </head>
  <body>

    <div class="container">

      <h3>Available Cuisines:</h3>
<!-- show all available cuisines -->

      {% if cuisines is not empty %}

        {% for cuisine in cuisines %}

          <li><a href="/cuisine/{{ cuisine.getId }}">{{ cuisine.getType }}</a></li>

        {% endfor %}

      {% else %}

        <p>There are no cuisines of any kind nearby. You're going to be hungry for a while.</p>

      {% endif %}

<!-- link to show all available cuisines -->
      <form action="/" method="get">
        <button type="submit">Home</button>
      </form>

  </div>

  </body>
</html>
