<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: I'm Hungry</title>
  </head>
  <body>

    <div class="container">

    <!-- main button -->
  <form action="/options" method="get">
        <button name="options" class="btn-danger btn-xl">I'm Hungry!</button>
    </form>

    <!-- user sign in -->
    {% if user_id is empty %}
    <form action="/login" method="post">
      <label for="signin_username">username:</label>
      <input type="text" id="signin_username" name="signin_username">
      <label for="user_password">Password:</label>
      <input name="user_password" type="password">
      <button name="sign_in">Sign In</button>
    </form>

    <!-- create new user -->
    <form action="/create_user" method="get">
      <button name="button">Sign Up</button>
    </form>
    {% else %}
  <p>You are already logged in!</p>

    {% endif %}


    </div>

  </body>
</html>
