<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: I'm Hungry</title>
</head>
<body class="container">
    <form action="/options" method="get">
        <button name="options" class="btn-danger btn-xl">I'm Hungry!</button>
    </form>

    {% if user_id is empty %}
    <footer id="footer" class="navbar navbar-fixed-bottom">
    <div class="well well-sm" style="text-align:center">
    <!-- sign in form -->
    <form action="/options" method="get">
        <label for="user_name">Profile Name:</label>
        <input type="text" name="user_name">
        <br>
        <label for="user_password">Password:</label>
        <input type="text" name="user_password">
    </form>
    {% else %}
        <p>You are logged in as {{ user.getUsername }}</p>
    {% endif %}
    <!-- btns sign in/create new user btn bar-->

    <footer id="footer" class="navbar navbar-fixed-bottom">
    <div class="well well-sm" style="text-align:center">
    <form action="/options" method="get">
        <label for="user_name">Profile Name:</label>
        <input type="text" name="user_name">
        <br>
        <label for="user_password">Password:</label>
        <input type="text" name="user_password">
    </form>
<!-- sign in/create new user btn bar-->
    <div class="btn-group" role="group" aria-label="sign in">

    <button class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign in
    </button>

    <button class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Create Profile
    </button>

    </div>
    </div>

<footer id="footer" class="navbar navbar-fixed-bottom">

<div class="well well-sm" style="text-align:center">
  <form action="/login" method="post">
    <label for="signin_username">Profile Name:</label>
      <input type="text" id="signin_username" name="signin_username">
  <br>
    <label for="user_password">Password:</label>
      <input type="password" name="user_password">

      <button class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign in
      </button>
  </form>
<!-- sign in/create new user btn bar-->

      <form class="btn-group inline" action="/logout" method="post">
        <button class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sign out
        </button>
      </form>


      <form class="btn-group inline" action="/create_user" method="get">
        <button class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Create Profile
        </button>
      </form>

</div>
</footer>




</body>
</html>
