<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Epifoodus: Choices</title>
  </head>
  <body>

    <div class="container">
        <a href="/choice/{{ restaurant1.getId }}"><h1>{{ restaurant1.getName }}</h1></a>
        <a href="/choice/{{ restaurant2.getId }}"><h1>{{ restaurant2.getName }}</h1></a>

    </div>

  </body>
</html>
