<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>New Restaurant Form</title>
</head>
    <body class="container">
        <h1>Create a new restaurant:</h1>
        <form action="/add_restaurant" method="post">

            <div class="form-group">
                <label for="name">Name:</label>
                <input placeholder="Name" type="text" name="name" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input placeholder="123 Fake St." type="text" name="address" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">Phone number:</label>
                <input placeholder="xxx xxx xxxx" type="text" name="phone" class="form-control">
            </div>

            <div class="form-group">
                <label for="opentime">Open time:</label>
                <input placeholder="0000" type="number" name="opentime" class="form-control">
            </div>

            <div class="form-group">
                <label for="closetime">Close time:</label>
                <input placeholder="2400" type="number" name="closetime" class="form-control">
            </div>

            <div class="form-group">
                <label for="cuisine">Cuisine:</label>
                <select id="cuisine" name="cuisine">
                    {% for cuisine in cuisines %}
                        <option value={{ cuisine.getType }}>{{ cuisine.getType }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="vegie">Vegetarian options?</label>
                <select name="vegie">
                    <option value=0>No</option>
                    <option value=1>Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="price">Price level:</label>
                <select name="price">
                    <option value=1>$</option>
                    <option value=2>$$</option>
                    <option value=3>$$$</option>
                </select>
            </div>
            <button submit="submit" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-plus"></span> Create
                </button>
            </form>

<!-- Footer navbar -->
        <footer id="footer" class="navbar navbar-fixed-bottom">
            <div class="well well-sm" style="text-align:center">


            <p>You are logged in as {{ user.getUsername }}</p>
                <!-- View all -->
                <form class="btn-group inline" action="/restaurants" method="get">
                    <button class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-eye-open"></span> View All
                    </button>
                </form>
                <!-- Add more -->
                <!-- <form class="btn-group inline" action="/restaurants_form" method="get">
                    <button class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-plus"></span> Add More
                    </button>
                </form> -->
                <!-- View Profile -->
                <form class="btn-group inline" action="/user" method="get">
                    <button class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-user"></span> View Profile
                    </button>
                </form>
                <!-- Sign out -->
                <form class="btn-group" action="/logout" method="post">
                    <button class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sign Out
                    </button>
                </form>

            </div>
        </footer>
    </body>
</html>
