<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>New Restaurant Form</title>
</head>
<body>
    <div class="container">

        <h1>Create a new restaurant:</h1>
        <form action="/add_restaurant" method="post">

            <div class="form-group">
                <label for="name">Name:</label>
                <input placeholder="Name" type="text" name="name" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input placeholder="123 Fake St." type="text" name="address" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">Phone number:</label>
                <input placeholder="xxx xxx xxxx" type="text" name="phone" class="form-control">
            </div>

            <div class="form-group">
                <label for="opentime">Open time:</label>
                <input placeholder="0000" type="number" name="opentime" class="form-control">
            </div>

            <div class="form-group">
                <label for="closetime">Close time:</label>
                <input placeholder="2400" type="number" name="closetime" class="form-control">
            </div>

            <div class="form-group">
                <label for="cuisine">Cuisine:</label>
                <select id="cuisine" name="cuisine">
                    {% for cuisine in cuisines %}
                        <option value={{ cuisine.getType }}>{{ cuisine.getType }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="vegie">Vegetarian options?</label>
                <select name="vegie">
                    <option value=0>No</option>
                    <option value=1>Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="price">Price level:</label>
                <select name="price">
                    <option value=1>$</option>
                    <option value=2>$$</option>
                    <option value=3>$$$</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">CREATE!!</button>
        </form>
        <br>
        <p><a href="/restaurants">Back</a></p>
    </div>
</body>
</html>
