<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Welcome To Your Page</title>
    </head>
    <body class="container">
        <div class="well well-sm" style="text-align:center">
        <h1>Welcome to your menu, {{ user.getUsername }}</h1>
        {% if is_admin == 1 %}
        <form class="btn-group" action="/add_person" method="get">
          <button class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Add Attendee
          </button>
        </form>
        <form class="btn-group" action="/viewallattendees" method="get">
          <button class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> View All
          </button>
        </form>
        {% endif %}
    </div>
        <footer id="footer" class="navbar navbar-fixed-bottom">
            <div class="well well-sm" style="text-align:center">
                    <p>You are logged in as {{ user.getUsername }}</p>
                 <!-- home -->
                 <form class="btn-group inline" action="/" method="get">
                     <button class="btn btn-default btn-md">
                         <span class="glyphicon glyphicon-home"></span> Home
                     </button>
                 </form>
                 <!-- Sign out -->
                 <form class="btn-group" action="/logout" method="post">
                     <button class="btn btn-default btn-md">
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Sign Out
                     </button>
                 </form>
             </div>
         </footer>
    </body>
</html>
