<html>
    <head>
        <title>Welcome To Your Page</title>
    </head>
    <body>
        {{ user.getUsername }}'s info

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>

    </body>
</html>
